openapi: 3.1.0

# ─────────────────────────────────────────────────────────────────────
# BuiltCRM Public API — hand-authored spec.
#
# Step 60 (Phase 8-lite.1 #60): public, auto-generated docs page.
# This file is the source of truth — `src/app/api-docs/page.tsx`
# renders against it, and `/openapi.yaml` serves it verbatim.
#
# Endpoint coverage matches the prototype design contract at
# `docs/prototypes/builtcrm_api_docs_public.jsx`:
#   Auth          · GET    /me
#   Projects      · GET    /projects
#                · GET    /projects/{id}
#   RFIs          · GET    /rfis
#                · GET    /rfis/{id}
#                · POST   /rfis
#   Change orders · GET    /change-orders
#                · GET    /change-orders/{id}
#   Documents     · GET    /documents
#                · GET    /documents/{id}
#   Webhooks      · POST   /webhooks
#                · DELETE /webhooks/{id}
#
# Conventions are documented in the public-facing docs page; this file
# is the machine-readable counterpart. Additive changes (new endpoint,
# new optional field, new enum value) ship into v1 without bumping the
# major; breaking changes increment to v2.
# ─────────────────────────────────────────────────────────────────────

info:
  title: BuiltCRM API
  version: "1.0.0"
  summary: Public REST API for BuiltCRM — projects, RFIs, change orders, documents, and webhooks.
  description: |
    The BuiltCRM API is a JSON, REST-style HTTP API. Every request authenticates with a
    Bearer token, every response is JSON, and every list endpoint paginates with cursors.

    All endpoints are scoped to the API key's organization. Keys are issued at
    Settings → API keys (contractor portal) and shown in full only once at creation.

    See the public docs at https://builtcrm.app/api-docs for the human-friendly
    introduction, code samples, and conventions reference.
  contact:
    name: BuiltCRM Support
    url: https://builtcrm.app
  license:
    name: Proprietary
servers:
  - url: https://api.builtcrm.app/v1
    description: Production
tags:
  - name: Auth
    description: Authentication identity check.
  - name: Projects
    description: Project list, lookup, and summary rollups.
  - name: RFIs
    description: Requests for Information — list, lookup, create.
  - name: Change orders
    description: Change orders with cost and schedule impact.
  - name: Documents
    description: Document metadata + time-limited download URLs.
  - name: Webhooks
    description: Outbound webhook subscriptions.

# ─────────────────────────────────────────────────────────────────────
# Security: every endpoint requires a Bearer API key.
# ─────────────────────────────────────────────────────────────────────
security:
  - bearerAuth: []

paths:
  /me:
    get:
      tags: [Auth]
      summary: Identity check
      operationId: getMe
      description: |
        Returns the API key's identity envelope — org, key id, granted scopes,
        and the effective scope chosen for this request. Use this as a
        first-call sanity check after issuing a new key.
      responses:
        "200":
          description: Authenticated.
          headers:
            X-RateLimit-Limit:        { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining:    { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset:        { $ref: "#/components/headers/RateLimitReset" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IdentityEnvelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /projects:
    get:
      tags: [Projects]
      summary: List projects
      operationId: listProjects
      description: |
        Returns a paginated list of projects in your organization. Results are
        filtered to projects the API key has access to (admin scope sees all;
        read/write sees projects within the key's scope).
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - name: status
          in: query
          required: false
          description: "Filter by project status."
          schema:
            type: string
            enum: [active, paused, completed, archived]
        - name: type
          in: query
          required: false
          description: "Filter by project type."
          schema:
            type: string
            enum: [residential, commercial]
      responses:
        "200":
          description: Successful response with a project page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectPage"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /projects/{id}:
    get:
      tags: [Projects]
      summary: Get a project
      operationId: getProject
      description: |
        Returns a single project by ID, including a summary of related counts
        (open RFIs, pending draws, active change orders).
      parameters:
        - name: id
          in: path
          required: true
          description: "The project ID, e.g. proj_01HV4K8F2N."
          schema: { type: string }
      responses:
        "200":
          description: Project found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDetail"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /rfis:
    get:
      tags: [RFIs]
      summary: List RFIs
      operationId: listRfis
      description: |
        Returns RFIs across one or many projects, ordered by most-recently-updated.
        Filter by project, status, or assignee.
      parameters:
        - name: project_id
          in: query
          required: false
          description: "Restrict to a single project."
          schema: { type: string }
        - name: status
          in: query
          required: false
          description: "Filter by RFI status."
          schema:
            type: string
            enum: [open, in_review, responded, closed]
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RfiPage"
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [RFIs]
      summary: Create an RFI
      operationId: createRfi
      description: |
        Creates a new RFI on a project. Requires write or admin scope. The RFI
        is created in status `open` and routed to the trade lead by default.

        Send an `Idempotency-Key` header to deduplicate retries within a 1-hour
        window — repeated calls with the same key return the original RFI.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RfiCreate"
      responses:
        "201":
          description: RFI created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Rfi"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /rfis/{id}:
    get:
      tags: [RFIs]
      summary: Get an RFI
      operationId: getRfi
      description: |
        Returns a single RFI with its full response thread and any attached
        documents.
      parameters:
        - name: id
          in: path
          required: true
          description: "The RFI ID."
          schema: { type: string }
      responses:
        "200":
          description: RFI found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RfiDetail"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /change-orders:
    get:
      tags: [Change orders]
      summary: List change orders
      operationId: listChangeOrders
      description: |
        Returns change orders across projects with their cost and schedule
        impact. Filter by project or status.
      parameters:
        - name: project_id
          in: query
          required: false
          description: "Restrict to a single project."
          schema: { type: string }
        - name: status
          in: query
          required: false
          description: "Filter by change-order status."
          schema:
            type: string
            enum: [draft, submitted, approved, rejected]
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeOrderPage"
        "401": { $ref: "#/components/responses/Unauthorized" }

  /change-orders/{id}:
    get:
      tags: [Change orders]
      summary: Get a change order
      operationId: getChangeOrder
      description: |
        Returns a single change order with its line-item breakdown and
        approval timeline.
      parameters:
        - name: id
          in: path
          required: true
          description: "The change order ID."
          schema: { type: string }
      responses:
        "200":
          description: Change order found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeOrderDetail"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /documents:
    get:
      tags: [Documents]
      summary: List documents
      operationId: listDocuments
      description: |
        Returns documents accessible to the API key. Filter by project, folder,
        or kind. Returns metadata only — use the `url` to download (URLs are
        time-limited).
      parameters:
        - name: project_id
          in: query
          required: false
          description: "Restrict to a single project."
          schema: { type: string }
        - name: kind
          in: query
          required: false
          description: "Filter by document kind."
          schema:
            type: string
            enum: [drawing, spec, permit, contract, photo, invoice, other]
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentPage"
        "401": { $ref: "#/components/responses/Unauthorized" }

  /documents/{id}:
    get:
      tags: [Documents]
      summary: Get a document
      operationId: getDocument
      description: |
        Returns metadata and a fresh time-limited download URL. URLs expire
        15 minutes after issuance — re-fetch as needed.
      parameters:
        - name: id
          in: path
          required: true
          description: "The document ID."
          schema: { type: string }
      responses:
        "200":
          description: Document found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /webhooks:
    post:
      tags: [Webhooks]
      summary: Subscribe to events
      operationId: createWebhook
      description: |
        Creates a webhook subscription. BuiltCRM will POST signed payloads to
        your URL whenever any of the chosen events occur. See the Webhook
        event catalog (in-app) for the full event list.

        If you don't supply a `secret`, BuiltCRM generates one and returns it
        once at creation; payloads are signed with HMAC-SHA256 over the raw body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreate"
      responses:
        "201":
          description: Subscription created. Generated `secret` returned if not supplied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /webhooks/{id}:
    delete:
      tags: [Webhooks]
      summary: Unsubscribe
      operationId: deleteWebhook
      description: |
        Permanently deletes a webhook subscription. Pending deliveries are
        cancelled.
      parameters:
        - name: id
          in: path
          required: true
          description: "The subscription ID."
          schema: { type: string }
      responses:
        "204":
          description: Deleted. No body.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

# ─────────────────────────────────────────────────────────────────────
# Reusable components
# ─────────────────────────────────────────────────────────────────────
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: BuiltCRM API key (bcrm_live_…)
      description: |
        Send keys as `Authorization: Bearer bcrm_live_…` on every request.
        Three coarse scopes: `read`, `write`, `admin`. Treat keys like passwords —
        revoked keys return 401 within seconds.

  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: "Page size, 1–100. Default 25."
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Cursor:
      name: cursor
      in: query
      required: false
      description: "Pagination cursor from a prior response's `next_cursor`."
      schema:
        type: string
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: "Client-supplied dedupe token. Same key replays the same response for 1 hour."
      schema:
        type: string

  headers:
    RateLimitLimit:
      description: "Total requests allowed in the current window."
      schema: { type: integer }
    RateLimitRemaining:
      description: "Requests remaining in the current window."
      schema: { type: integer }
    RateLimitReset:
      description: "Unix epoch (seconds) when the window resets."
      schema: { type: integer }

  responses:
    BadRequest:
      description: Request body or query is malformed.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Forbidden:
      description: Key lacks the required scope for this endpoint.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    NotFound:
      description: Resource doesn't exist or isn't visible to your key.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    UnprocessableEntity:
      description: Validation failed; see `error.fields`.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    RateLimited:
      description: Rate limit exceeded. Honor `Retry-After`.
      headers:
        Retry-After:
          description: Seconds until the next request is allowed.
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  schemas:
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [type, message]
          properties:
            type:
              type: string
              description: "Machine-readable error type, e.g. `validation_failed`, `unauthenticated`, `rate_limit_exceeded`."
            message:
              type: string
              description: "Human-readable error message."
            fields:
              type: object
              additionalProperties: { type: string }
              description: "Per-field validation errors (only on 422)."
            request_id:
              type: string
              description: "Echoed back for support tickets."
      example:
        error:
          type: validation_failed
          message: "subject is required"
          fields: { subject: missing }
          request_id: req_01HV9D7ZZK

    IdentityEnvelope:
      type: object
      required: [ok, orgId, keyId, scopes, effectiveScope, timestamp]
      properties:
        ok:              { type: boolean }
        orgId:           { type: string, description: "Org ID for the API key." }
        keyId:           { type: string, description: "API key ID (not the secret)." }
        scopes:
          type: array
          items: { type: string, enum: [read, write, admin] }
        effectiveScope:
          type: string
          enum: [read, write, admin]
          description: "Highest scope the key is allowed to use."
        timestamp:       { type: string, format: date-time }

    Project:
      type: object
      required: [id, name, type, status, created_at]
      properties:
        id:                   { type: string, example: proj_01HV4K8F2N }
        name:                 { type: string, example: "Riverside Tower Fit-Out" }
        type:                 { type: string, enum: [residential, commercial] }
        status:               { type: string, enum: [active, paused, completed, archived] }
        address:              { type: string, example: "240 Riverside Dr, Toronto ON" }
        contract_value_cents: { type: integer, description: "Contract value in cents (org currency)." }
        created_at:           { type: string, format: date-time }
        updated_at:           { type: string, format: date-time }

    ProjectDetail:
      allOf:
        - $ref: "#/components/schemas/Project"
        - type: object
          properties:
            summary:
              type: object
              properties:
                open_rfis:            { type: integer }
                pending_draws:        { type: integer }
                active_change_orders: { type: integer }

    ProjectPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Project" }
        next_cursor:
          type: string
          nullable: true

    Rfi:
      type: object
      required: [id, project_id, number, subject, status, created_at]
      properties:
        id:         { type: string, example: rfi_01HV5Q92BC }
        project_id: { type: string }
        number:     { type: string, example: "RFI-014" }
        subject:    { type: string }
        status:     { type: string, enum: [open, in_review, responded, closed] }
        trade:      { type: string, example: structural_steel }
        due_at:     { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    RfiResponse:
      type: object
      required: [id, author_id, body, created_at]
      properties:
        id:         { type: string }
        author_id:  { type: string }
        body:       { type: string }
        created_at: { type: string, format: date-time }

    RfiDetail:
      allOf:
        - $ref: "#/components/schemas/Rfi"
        - type: object
          properties:
            responses:
              type: array
              items: { $ref: "#/components/schemas/RfiResponse" }

    RfiCreate:
      type: object
      required: [project_id, subject, body]
      properties:
        project_id: { type: string }
        subject:    { type: string, maxLength: 200 }
        body:       { type: string, description: "Markdown allowed." }
        trade:      { type: string, description: "Optional trade key, e.g. `structural`, `mechanical`, `electrical`." }
        due_at:     { type: string, format: date-time }

    RfiPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Rfi" }
        next_cursor:
          type: string
          nullable: true

    ChangeOrderLineItem:
      type: object
      required: [description, amount_cents]
      properties:
        description:  { type: string }
        amount_cents: { type: integer }

    ChangeOrder:
      type: object
      required: [id, project_id, number, status, amount_cents]
      properties:
        id:                    { type: string, example: co_01HV7K22ZQ }
        project_id:            { type: string }
        number:                { type: string, example: "CO-007" }
        subject:               { type: string }
        status:                { type: string, enum: [draft, submitted, approved, rejected] }
        amount_cents:          { type: integer }
        schedule_days_impact:  { type: integer }
        submitted_at:          { type: string, format: date-time, nullable: true }

    ChangeOrderDetail:
      allOf:
        - $ref: "#/components/schemas/ChangeOrder"
        - type: object
          properties:
            line_items:
              type: array
              items: { $ref: "#/components/schemas/ChangeOrderLineItem" }

    ChangeOrderPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/ChangeOrder" }
        next_cursor:
          type: string
          nullable: true

    Document:
      type: object
      required: [id, project_id, kind, name, url, url_expires_at]
      properties:
        id:             { type: string, example: doc_01HV8P55KN }
        project_id:     { type: string }
        kind:           { type: string, enum: [drawing, spec, permit, contract, photo, invoice, other] }
        name:           { type: string }
        size_bytes:     { type: integer }
        content_type:   { type: string, example: application/pdf }
        url:            { type: string, format: uri, description: "Time-limited download URL." }
        url_expires_at: { type: string, format: date-time }

    DocumentPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Document" }
        next_cursor:
          type: string
          nullable: true

    WebhookCreate:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
          description: "Your HTTPS endpoint."
        events:
          type: array
          minItems: 1
          items:
            type: string
            description: "Event keys, e.g. `rfi.created`, `co.approved`, `draw.paid`."
        secret:
          type: string
          description: "If provided, used to sign payloads via HMAC-SHA256. If omitted, BuiltCRM generates one and returns it once."

    Webhook:
      type: object
      required: [id, url, events, created_at]
      properties:
        id:         { type: string, example: whk_01HV9C6NQA }
        url:        { type: string, format: uri }
        events:
          type: array
          items: { type: string }
        secret:     { type: string, description: "Returned once on creation if BuiltCRM generated it." }
        created_at: { type: string, format: date-time }
